body {
  font-family: sans-serif;
}

input {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
}

button {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-top: 0;
  color: #666;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.input__area {
  background-color: #c1ffff;
  width: 400px;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.imcomp_area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.comp_area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 1rem;
  border-radius: 8px;
}
